*{
    margin: 0;
}
body{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

/* header section */
header{
    display: flex;
    flex-flow: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px 15px 90px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header:hover{
    background-color: lightblue;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
header>h1{
    font-family: 'pacifico', cursive;
    color: lightcoral;
    font-weight:normal;
    font-size: 44px;
    padding-left: 20px;
}
.navs{
    display: flex;
    flex-flow: row;
    list-style: none;
}
.navs>li{
    margin: 15px;
}
.navs>li>a{
    color: lightcoral;
    text-decoration: none;
    font-size: 24px;
    font-family: 'pacifico',cursive;
}
.navs>li>a:hover{
    
    color: white;
    text-shadow: 2px 2px 4px #000000;
    transition: .5s;
}






.main{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: flex;
    flex-flow:row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
    border-radius: 10px;
    width: 600px;
    height: 350px;
    margin: auto;
    font-family: monospace;
}
.outer{
    margin: 25px;
    display: flex;
    flex-flow: column;
}
.outer>textarea{
    border-radius: 5px;
}
.gif>img{
    padding: 20px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15px;
    visibility: hidden;
}
#translate{
    margin-top: 10px;
    padding: 5px  40px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'pacifico',cursive;
    border: none;
    background-color: #B8FFF9;  
}
#translate:hover{
    background-color: rgba(0, 255, 255, 0.664);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}





/* footer section */
footer{
    position: absolute;
    bottom: 20px;
    width: 100vw;
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    font-weight: bold;
}
.footericons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footericons>p{
    margin: 15px;
}